<nav class="#616161 #424242 grey darken-3">
  <div class="nav-wrapper container">
    <a href="/dashboard" class="brand-logo center">Saaba Story</a>
    <ul class="left">
      <li>
        <a
          href="#"
          data-target="slide-out"
          class="sidenav-trigger show-on-large"
          >menu</a
        >
      </li>
    </ul>
  </div>
</nav>
