<h3><i class="material-icons"> local_library </i>SaabaStory</h3>
<div class="section">
  <p>Share public and private stories from your life</p>
</div>
<div class="divider"></div>
<div class="section">
  <a href="/login" class="btn red darken-1">
    <!-- <i class="fab fa-google left"></i> Log In With Google -->
    Log In
  </a>
  <a href="/register" class="btn">Register</a>
</div>
