
<div class="row">
    <div class="col s4">
        <div class="card center-align">
            <div class="section">
                <h6 class="author-name"><%=locals.story.user.username%></h6>
                <img src="/images/default-picture.png" class="responsive-img circle">
            </div>
        </div>
    </div>
    <div class="col s8">
        <h3 id="story-head" class="center-align"><%=locals.story.title%></h2>
        <div class="card">
            <div class="card-content">
                <span class="card-title"><%=locals.moment(locals.story.createdAt).format('MMMM Do YYYY, h:mm:ss a')%></span>
                <p><%=locals.truncateBody(locals.story.body)%></p>
            </div>
        </div>
    </div>
</div>


